
:root {
    --white: #fff;
    --black: #111;
    --blue: #3a80e9;
    --grey: #888;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
  }
  
  [data-theme="dark"] {
    --white: #ffffff;
    --black: #111;
    --grey: #888;
    --darkgrey: #1b1b1b;
  }
  
  [data-theme="light"] {
    --white: #111;
    --black: #fff;
    --grey: #888;
    --darkgrey: #f3f3f3;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--white);
  }
  
  a {
    text-decoration: none;
    color: var(--white) !important;
  }


  :root {
    --white: #fff;
    --black: #111;
    --blue: #3a80e9;
    --grey: #888;
    --darkgrey: #1b1b1b;
    --green: #61c96f;
    --red: #f94141;
  }
  
  [data-theme="dark"] {
    --white: #ffffff;
    --black: #111;
    --grey: #888;
    --darkgrey: #1b1b1b;
  }
  
  [data-theme="light"] {
    --white: #111;
    --black: #fff;
    --grey: #888;
    --darkgrey: #f3f3f3;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--black);
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    color: var(--white);
  }
  
  a {
    text-decoration: none;
    color: var(--white) !important;
  }
    